
{#{% extends 'main.html' %}#}
{#{% block content %}#}
<style>
    .service-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>

    <h1>Hello Customer World </h1>
    <h2>Customer html</h2>
    <a href="{% url 'login' %}"><h1>Login</h1></a>

    <div class="service-container">
        <div>
            <h3>Browse Topics</h3>
            <hr>
                <form method="GET" action="{% url 'customer' %}">
                    <input type="text" name="q" placeholder="Search All .."/>
                </form>
            <hr>

                <div>
                    <a href="{% url 'customer' %}"><h2>All</h2></a>
                </div>
            {% for topic in topics %}
                <div>
                    <a href="{% url 'customer' %}?q={{ topic.name }}"><h2>{{ topic.name }}</h2></a>
                </div>

            {% endfor %}
        </div>

        <div>
        <h2>{{ service_count }}  Service available</h2>
            <a href="{% url 'create_Service' %}" ><h1>Craete Service</h1></a>
            <hr>
            {% for val in service %}
                    <div>
                        <a href="{% url 'update_service' val.id %}" ><h1>Edit</h1></a>
                        <a href="{% url 'delete_service' val.id %}" ><h1>Delete</h1></a>
                        <span>{{ val.host }}</span>
                        <h2>{{val.id }} -- <a href="{% url 'coading' val.id %}"> --{{ val.Service_name }}--{{ val.qty }}--{{ val.price }} </a></h2>
                        <small>{{ val.topic}}</small>
                    </div>
                <hr/>
            {% endfor %}

        </div>
    </div>

        {#{% endblock content %}#}

